 <div class="container pt-5">
   <div class="title-big primary-color">
     Connexion
    </div>
  <div class="col-md-12">
    <div class="pt-5">
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group input-cust py-2">
          <label for="username" class="col-lg-2 col-sm-4 col-10 title primary-color py-2 ">Pseudo</label>
          <input
            type="text"
            class="col-lg-4 col-sm-6 col-10"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
          />
          <div
          class="title justify-content-end primary-color col-10 text-end py-2"
            role="alert"
            *ngIf="f.submitted && username.invalid"
          >
            Le pseudo est obligatoire
          </div>
        </div>
        <div class="form-group input-cust py-2">
          <label for="password" class="title primary-color py-2 col-lg-2 col-sm-4 col-10">Mot de passe</label>
          <input
            type="password"
            class="col-lg-4 col-sm-6 col-10"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div
            class="title justify-content-end primary-color col-10 text-end py-2"
            role="alert"
            *ngIf="f.submitted && password.invalid"
          >
            <div 
            *ngIf="password.errors.required">Le mot de passe est requis</div>
            <div 
            *ngIf="password.errors.minlength">
              Le mot de passe doit contenir au moins 6 caractères
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end col-10 mt-5">
          <button class="add-btn-word">
            Ok
          </button>
        </div>
        <div class="title col-10 justify-content-end primary-color" *ngIf="f.submitted && isLoginFailed">
          <div
            class="py-3 px-3 text-end"
            role="alert"
          >
            Votre identification a échoué
          </div>
        </div>
      </form>
    </div>
  </div>
</div>