<div class="container pt-5">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="primary-color title-big" *ngIf="!this.isSaved">
        Insérez vos photos :
      </div>
      <div class="secondary-color text py-5" *ngIf="!this.isSaved">
        Vos photos apparaîtront rognées, néanmoins elles seront enregistrées dans leurs formats originels. 
      </div>
      <div class="row  my-4 input-cust">
        <label for="image" class="col-md-2 title primary-color my-2">
          Photos
        </label>
        <input id="image" type="file" multiple formControlName="image" class="col-md-4 " accept="image/png, image/jpeg" (change)="onSelectFile($event)" >
      </div>
      <div class="row">
      <div class="d-flex justify-content-center col-lg-3 col-12 col-sm-6 pt-3" *ngFor="let image of images">
        <img src="{{image.image}}" *ngIf="image.image" class="pix-medium">
      </div>
    </div>
      <div class="d-flex justify-content-center pt-5">
        <button class="add-btn-word" type="submit" [disabled]="!checkoutForm.valid" [ngClass]="!checkoutForm.valid?'disable-btn':''" >
            Ok
        </button>
      </div>
    </form>
  </div>