
<div class="container">
    <div *ngIf="!isPictureClicked">
        <div class="title-big mt-5 primary-color">Stations</div>
        <div class="title mt-5 secondary-color"> Cliquez sur une icône photo pour afficher les photos</div>
        <div id="map2"  class="map my-5">
        </div>
        <div *ngIf="isStationClicked">
            <div class="title-big mt-5 primary-color">
                Photos
            </div>
            <div *ngIf="isStationClicked" class="row">
                <div class="d-flex justify-content-center col-md-6 col-lg-3 col-12 pt-3" *ngFor="let picture of picturesByStation">
                    <img src="{{picture.image}}" class="pix-medium clickable" (click)="onGetImageById(picture.id)">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isPictureClicked" >
        <div class="d-flex justify-content-end mt-5" (click)="onReturnToStation()">
            <img src="../../../assets/icons/cross.png" width="30" height="30" class="clickable">
        </div>
        <div class="justify-content-center d-flex">
            <img src="{{pictureById.image}}" class="pix-big">
        </div>
    </div>
</div>